@charset "UTF-8";
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
サイドに追尾するバナー (.closeBanner)
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.closeBanner {
	position: fixed; /* 追従 */
	z-index: 887; /* 他の要素の下に隠れないように */
	bottom: 60px; /* バナーの上下の位置 */
	right: 0; /* バナーの左右の位置 */
  }
  .closeBanner .pc {
	width: 300px; /* バナーの横幅を指定 */
	height: auto;
	margin-bottom: 1rem;
	border-radius: 10px;
  }
  .closeBanner:hover {
	opacity: .9; /* ホバーで少し透過 */
  }
  
  img.sp {
	display: none; /* PCではスマホ用のバナーは非表示に */
  }
  
  .closeBanner a{
	display: block;
  }
  .closeBanner p.close{
	position: absolute;
	right: 10px;
	top:10px;
  }
  .closeBanner p.close a{
	display: block;
	width: 20px;
	height: 25px;
	text-align: center;
  }
  .closeBanner p.close a span{
	display: block;
	width: 1px;
	height: 1px;
	padding-left: 0.5rem;
	/* overflow: hidden; */
  }
  .closeBanner p.close a i{
	font-size: 20px;
	z-index: 888;
	color: #333333;
  }
  @media screen and (max-width: 767px) { /* タブレット用のブレイクポイントを指定 */
	img.pc {
		display: none; /* タブレットサイズ以下でPC用のバナーを非表示に */
	}
  }
  
  @media screen and (max-width: 640px) { /* スマホ用のブレイクポイントを指定 */
	img.sp {
		display: inline-block; /* 消していたスマホ用のバナーを表示させる */
		width: 100%; /* スマホの画面幅いっぱいにバナーを表示 */
		margin-bottom: 1rem;
	}
	.floating-banner  {
		top: unset; /* PCで指定していた上下の位置指定をクリア */
		right: 0; /* 左右の隙間が空かないように */
		bottom: 0; /* 画面の最下部にぴったりくっつくように指定 */
	}
  }