@charset "UTF-8";
@import url("grid.css");

img {
	max-width:100%;
	height: auto;/*高さ自動*/
}
a {
    display:block;
    color: #666;
    text-decoration-line: none;
}
a:hover { 
    color: #999;
}

.red {
    color: red;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
フォント
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.wf-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }

/*ヘッダー
-------------------------------------*/
.header {
	display: flex;
    flex-direction: row;
    padding: 2rem 0 0 0;
}
.header-box {
	margin-left: auto;
	margin-top: 8px;
}
.contact-button {
	padding: 1rem;
	border: 2px solid #000;
    border-radius: 10px;
}
nav ul {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
	margin: 1rem 0 0 0;
}
nav li {
	flex: 1 0 auto;
}
nav li a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
nav a:hover {
    background-color: #f7f7f7;    
}
nav a {
    padding: 0.5rem;
}

@media screen and (min-width: 768px){
/* PC時はMENUボタンを非表示 */
#open,#close {
    display: none !important;
}

#navi {
    display: block !important;
}
}

@media screen and (max-width: 768px){
.header {
	flex-direction: column;
    margin-bottom: 10px;
}
.header #open,#close  {
    position: absolute;
    top: 20px;
    right: 12px;
}
nav ul {
	flex-direction: column;
}
.header li {
	padding-top: 0;
}
/* スマホ時はMENUボタンを表示 */
#open,#close  {
    display: block;
    width: 50px;
    border: none;
    position: absolute;
    top: 20px;
    right: 12px;
}
/* スマホ時はメニューを非表示 */
#navi {
    display: none;
}
}
    
/*メイン画像
-------------------------------------*/
.mainimg img {
    width: 100%;/*横いっぱいに広がるように指定 */
}

.mainimg .pc {

}
.mainimg .sp {
	display: none; /* PCではスマホ用のmainimgは非表示に */
}

@media screen and (max-width: 768px){
.mainimg .pc {
    display: none; /* SPではパソコン用のmainimgは非表示に */
}
.mainimg .sp {
    display: inline-block; /* 消していたスマホ用のmainimgを表示させる */
    width: 100%; /* スマホの画面幅いっぱいにバナーを表示 */
}
}
/*メインコンテンツ
-------------------------------------*/
main {
    margin: 5rem 0 0 0;
}
section {
	margin: 1rem 0;
	padding: 1rem 0;
}
.gray_back {
	background-color: #f4f4f4;
}

.green_back {
    background-color: #f0fff0;
}

/*キャッチコピー
-------------------------------------*/
.catch {
    text-align: center;
    margin: 0 auto;
    max-width:1160px;
    width: 90%;
    height: auto;
    padding-bottom: 1rem;
}
.catch h2 {
    padding-bottom: 1rem;
}
.campaignBanner img:hover {
    opacity: 0.7;
}
.bold {
    padding:0 1rem 1rem 1rem;
    font-size:5rem;
	text-align:center;
	line-height:5rem;
	font-weight:bold;
    color: #000000;
	text-shadow:
		0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
}
/* .under {
    border-bottom: 0.4rem solid #000;
    padding:0 1rem 1rem 1rem;
    letter-spacing: 0.1rem;
    line-height: 5.5rem;;
} */
.center {
	text-align: center;
	margin-bottom: 4rem;
}

/*申し込みの流れ
-------------------------------------*/
.flow.row {
	margin-bottom: 3rem;
}

/*フッター
-------------------------------------*/
footer {
    background-color: #f7f7f7;
    padding: 5rem 0;
}
footer h4 {
    border-bottom: 3px solid #ccc;
}
img.shop_img {
    
}

/*お問い合わせ
-------------------------------------*/
.contact-box {
    border-radius: 10px;
	text-align: center;
	padding: 2rem 0;
}
.contact-box:hover {
    opacity: 0.7;
}
img.contactPC {
    width: 100%; /* バナーの横幅を指定 */
	height: auto;
	margin-bottom: 1rem;
	border-radius: 10px;
}
img.contactSP {
    display: none;
}
.table {
	margin: 4rem 0;
}
.table th {
	width: 250px;
}

/*コピーライト
-------------------------------------*/
.copyright {
    text-align: center;
    padding: 1rem 0;
    background-color: #4FCB4E;
}
.copyright a {
    color: #fff;
    text-decoration: none;
	display: inline;
}

/*ページトップへ戻るボタン
-------------------------------------*/
#pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: solid 1px #666;
}
#pagetop a {
    display: block;
    background: #4FCB4E;
    color: #fff;
    width: 50px;
    padding: 10px 5px;
    text-align: center;
}
#pagetop a:hover {
    background: #666;
}

/* 幅768px以下の表示
-------------------------------------*/
@media screen and (max-width: 768px){
	
/*ヘッダー
-------------------------------------*/
.header-box {
	display: none;
}	
/*お問い合わせ
-------------------------------------*/
.table th {
	width: 100%;
	display: block;
}	
.table td {
	display: block;
}
img.contactPC {
    display: none;
}
img.contactSP {
    display: inline-block;
	width: 100%;
	margin-bottom: 1rem;
    border-radius: 10px;
}

}

